SECRET_KEY=tu-clave-secreta-aqui
DEBUG=True

DB_NAME=saas_asistencia
DB_USER=postgres
DB_PASSWORD=tu-password
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379/0

ALLOWED_HOSTS=localhost,127.0.0.1,.lectora.pe
